@keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    16.66% {
      transform: rotate(60deg);
    }
    33.33% {
      transform: rotate(120deg);
    }
    50% {
      transform: rotate(180deg);
    }
    66.66% {
      transform: rotate(240deg);
    }
    83.33% {
      transform: rotate(300deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the animation to your image */
  .rotate-image {
    animation: rotateImage 6s ease-in-out infinite;
  }
  